<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073332023962-2d8q97jubav1v3uslsrtcf5l3qdchd41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073332023962-2d8q97jubav1v3uslsrtcf5l3qdchd41</string>
	<key>API_KEY</key>
	<string>AIzaSyCum8FTOlnJftMICj05zexeLV4NZfynv30</string>
	<key>GCM_SENDER_ID</key>
	<string>1073332023962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.max.LoginLearning1</string>
	<key>PROJECT_ID</key>
	<string>fir-tutoral1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutoral1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073332023962:ios:58561f5e4d8f24393d6523</string>
</dict>
</plist>